	<section class="box-area pb-70">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box bg-1">
	          <i class="flaticon-statistics"></i>
	          <h3>Professional Work</h3>
	          <p>Get your assignment or project done by a team of expert freelancers.</p>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box bg-2">
	          <i class="flaticon-creativity"></i>
	          <h3>Timely Feedback</h3>
	          <p>You get qaulity work done & submitted before the deadline.</p>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
	        <div class="single-box bg-3">
	          <i class="flaticon-mortarboard"></i>
	          <h3>Constant Communication</h3>
	          <p>We guarantee efficient communication between the freelances & the clients.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>


	<!-- <section class="box-area pt-100 m-0 pb-70">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-4">
	          <i class="flaticon-statistics"></i>
	          <h3>Business Growth</h3>
	          <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt labore.</p>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-5">
	          <i class="flaticon-creativity"></i>
	          <h3>Strategy Process</h3>
	          <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt labore.</p>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
	        <div class="single-box single-box-2 bg-6">
	          <i class="flaticon-mortarboard"></i>
	          <h3>Finance Manage</h3>
	          <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt labore.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</section> -->
