<section class="client-area client-page pt-100 pb-70">
  <!-- <section class="client-area ptb-100"> -->
  <div class="container">
    <div class="section-title">
      <span>Sample Reviews</span>
      <h2>Hear What Our Clients Have To Say</h2>
    </div>
    <div class="row align-items-center client-bg">
      <div class="col-lg-6 p-0">
        <div class="client-img">
          <img src="assets/img/client-img/client-img.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="client-details-wrap owl-carousel owl-theme">
          <div class="client-details">
            <img src="assets/img/client-img/1.jpg" alt="">
            <h3>James Mwangi</h3>
            <span>University Student</span>
            <i class="flaticon-quote"></i>
            <p>Through the web development team of Eagle Freelance, we’ve been able to easily gain subscribers and
              customers through the rich & robust
              website they built for us. It’s thrilling to watch the numbers roll in.</p>
            <ul>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <div class="client-details">
            <img src="assets/img/client-img/2.jpg" alt="">
            <h3>Ruth Opiyo</h3>
            <span>University Student</span>
            <i class="flaticon-quote"></i>
            <p>Through the web development team of Eagle Freelance, we’ve been able to easily gain subscribers and
              customers through the rich & robust
              website they built for us. It’s thrilling to watch the numbers roll in.</p>
            <ul>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <div class="client-details">
            <img src="assets/img/client-img/3.jpg" alt="">
            <h3>Michael Mohamed</h3>
            <span>Sales Manager</span>
            <i class="flaticon-quote"></i>
            <p>Through the web development team of Eagle Freelance, we’ve been able to easily gain subscribers and
              customers through the rich & robust
              website they built for us. It’s thrilling to watch the numbers roll in.</p>
            <ul>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
