<section class="client-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Press Coverage</span>
      <h2>What Our Client Say</h2>
    </div>
    <div class="row align-items-center client-bg">
      <div class="col-lg-6 p-0">
        <div class="client-img">
          <img src="assets/img/client-img/client-img.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="client-details-wrap owl-carousel owl-theme">
          <div class="client-details">
            <img src="assets/img/client-img/1.jpg" alt="">
            <h3>Amelia Daniel</h3>
            <span>Chairman and founder</span>
            <i class="flaticon-quote"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus viverra maecenas accumsan lacus vel
              facilisis.</p>
            <ul>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <div class="client-details">
            <img src="assets/img/client-img/2.jpg" alt="">
            <h3>Alex Mason</h3>
            <span>Visual Media</span>
            <i class="flaticon-quote"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus viverra maecenas accumsan lacus vel
              facilisis.</p>
            <ul>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <div class="client-details">
            <img src="assets/img/client-img/3.jpg" alt="">
            <h3>Michael Harper</h3>
            <span>Sales Manager</span>
            <i class="flaticon-quote"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus viverra maecenas accumsan lacus vel
              facilisis.</p>
            <ul>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
