	<section class="about-us-area pb-100">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-6">
	        <div class="about-title">
	          <span>About Us</span>
	          <h2>We ProvideTotal Business Solutions</h2>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
	            dolore magna aliqua. Quis ipsum suspendisse ultrices gda. Risus commodo viverra maecenas accumsan.</p>
	          <ul>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              Premium Service Beyond you
	            </li>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              Set a Like this Photo
	            </li>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              Premium Service beyond you
	            </li>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              A wonderful Sarcenet
	            </li>
	          </ul>
	          <a class="default-btn" href="#">Discover More</a>
	        </div>
	      </div>
	      <div class="col-lg-6">
	        <div class="about-us-img">
	          <img src="assets/img/about-1.jpg" alt="About Us">
	          <div class="about-img-2">
	            <img src="assets/img/about-2.jpg" alt="About Us">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
