	<section class="about-us-area about-us-area-2 ptb-100">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-6">
	        <div class="about-title">
	          <span>About Us</span>
	          <h2>We Take Freelancing To The Next Level</h2>
	          <p>We offer professional freelancing services such as academic writing & software/web development. As such,
	            we write descriptive essays, analytic
	            papers, persuasive papers as well as critical assignments on health and history for as low as $5 per page.
	            We also have experts
	            developers who will take
	            care of your software/web development needs</p>
	          <ul>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              Academic Writing e.g Descriptive essays, analytical papers.
	            </li>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              Software Development - get your customised software today.
	            </li>
	            <li>
	              <i class="flaticon-right-arrow"></i>
	              Website Development using modern programming technologies.
	            </li>
	          </ul>
	          <a class="default-btn" href="#">Discover More</a>
	        </div>
	      </div>
	      <div class="col-lg-6">
	        <div class="about-us-img">
	          <img src="assets/img/about-1.jpg" alt="About Us">
	          <div class="about-img-2">
	            <img src="assets/img/about-2.jpg" alt="About Us">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
