	<section class="team-area pt-100 pb-70">
	  <div class="container">
	    <div class="section-title">
	      <span>Team Member</span>
	      <h2>Our Expert Team</h2>
	    </div>
	    <div class="row">
	      <div class="col-lg-3 col-md-6 col-sm-6">
	        <div class="single-team">
	          <div class="team-img">
	            <img src="assets/img/team/1.jpg" alt="">
	            <ul class="team-icon">
	              <li>
	                <a href="#">
	                  <i class="fa fa-facebook"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-twitter"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-instagram "></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	          <div class="team-text">
	            <h3>Alvin Pillar</h3>
	            <span>SR.Product Engineer</span>
	          </div>
	        </div>
	      </div>
	      <div class="col-lg-3 col-md-6 col-sm-6">
	        <div class="single-team">
	          <div class="team-img">
	            <img src="assets/img/team/2.jpg" alt="">
	            <ul class="team-icon">
	              <li>
	                <a href="#">
	                  <i class="fa fa-facebook"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-twitter"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-instagram "></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	          <div class="team-text">
	            <h3>Frazer Diamond</h3>
	            <span>Founder & CEO</span>
	          </div>
	        </div>
	      </div>
	      <div class="col-lg-3 col-md-6 col-sm-6">
	        <div class="single-team">
	          <div class="team-img">
	            <img src="assets/img/team/3.jpg" alt="">
	            <ul class="team-icon">
	              <li>
	                <a href="#">
	                  <i class="fa fa-facebook"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-twitter"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-instagram "></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	          <div class="team-text">
	            <h3>Frazer Diamond</h3>
	            <span>SR.Product Engineer</span>
	          </div>
	        </div>
	      </div>
	      <div class="col-lg-3 col-md-6 col-sm-6">
	        <div class="single-team">
	          <div class="team-img">
	            <img src="assets/img/team/4.jpg" alt="">
	            <ul class="team-icon">
	              <li>
	                <a href="#">
	                  <i class="fa fa-facebook"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-twitter"></i>
	                </a>
	              </li>
	              <li>
	                <a href="#">
	                  <i class="fa fa-instagram "></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	          <div class="team-text">
	            <h3>Denial Peterson</h3>
	            <span>Founder & CEO</span>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
