<section class="choose-area ptb-100">
  <div class="container-fluid">
    <div class="section-title">
      <span>You Have Every Reason To Choose Us</span>
      <h2>We Guarantee The Best For Our Clients</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7 pl-0">
        <div class="choose-bg-area">
          <div class="row">
            <div class="col-lg-6 col-md-6 pr-0">
              <div class="single-box choose-1">
                <i class="flaticon-shield"></i>
                <h3>Professional Experts</h3>
                <p>We guarantee you original quality work free from plagiarism done by our professional freelancers.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 pl-0">
              <div class="single-box choose-2">
                <i class="flaticon-development"></i>
                <h3>Friendly Rates</h3>
                <p>Don't worry about our charges/rates when dealing with Eagle freelance, we have your back</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 pr-0">
              <div class="single-box choose-3">
                <i class="flaticon-content"></i>
                <h3>Timely Submission</h3>
                <p>We know how to work within the deadline. You get your work done and submitted before the deadline.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 pl-0">
              <div class="single-box choose-4">
                <i class="flaticon-help"></i>
                <h3>We're Available 24/7</h3>
                <p>Eagle is here for you, anything from answering any questions to resolving any issues, at any time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-0">
        <div class="choose-img">
          <img src="assets/img/choose-img.jpg" alt="">
          <div class="video-wrap">
            <div class="video-btn-wrap">
              <a href="play-video.html" class="video-btn"
                data-ilb2-video='{"controls":"controls", "autoplay":false, "sources":[{"src":"assets/img/business.mp4", "type":"video/mp4"}]}'
                data-imagelightbox="video">
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
