	<!-- Start Box Area -->
	<section class="box-area m-0 pt-100 pb-70">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-5">
	          <i class="flaticon-creativity"></i>
	          <h3>Academic Essays</h3>
	          <p>We write quality academic essays free from plagiarism from high school essays to PHD dessertation.</p>
	          <a class="default-btn" href="services-details.html">Read More</a>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-5">
	          <i class="flaticon-pie-chart"></i>
	          <h3>Research Proposals</h3>
	          <p>We write comprehensive and award winning research proposals to students for their projects.</p>
	          <a class="default-btn" href="services-details.html">Read More</a>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-5">
	          <i class="flaticon-hand"></i>
	          <h3>Research Papers</h3>
	          <p>We guarantee quality, original and comprehensive research papers to students.</p>
	          <a class="default-btn" href="services-details.html">Read More</a>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-5">
	          <i class="flaticon-strategy"></i>
	          <h3>English - Kiswahili Translations</h3>
	          <p>English to Kiswahili/Kiswahili to English translations made easy by our expert translation freelancers.
	          </p>
	          <a class="default-btn" href="services-details.html">Read More</a>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-6">
	          <i class="flaticon-mortarboard"></i>
	          <h3>Powerpoint Presentations</h3>
	          <p>We produce quality Powerpoint/Word presentations with nice animations and effects.</p>
	          <a class="default-btn" href="services-details.html">Read More</a>
	        </div>
	      </div>
	      <div class="col-lg-4 col-md-6">
	        <div class="single-box single-box-2 bg-4">
	          <i class="flaticon-statistics"></i>
	          <h3>Proofreading Services</h3>
	          <p>Our freelancers are well equipped with advanced proofreading skills to handle your next assignment.</p>
	          <a class="default-btn" href="services-details.html">Read More</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- End Box Area -->
