	<!-- Start Preloader Area -->
	<!-- <div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div> -->
	<!-- End Preloader Area -->

	<!-- Start Navbar Area -->
	<app-header></app-header>
	<!-- End Navbar Area -->

	<!-- Start Hero Slider Area -->
	<app-slider></app-slider>
	<!-- End Hero Slider Area -->

	<!-- Start Box Area -->
	<app-start-box></app-start-box>
	<!-- End Box Area -->

	<!-- Start About Us Area -->
	<app-about></app-about>
	<!-- End About Us Area -->

	<!-- Start Best Service Area -->
	<app-homepage-services></app-homepage-services>
	<!-- End Best Service Area -->

	<!-- Start Choose Area -->
	<app-choose-us></app-choose-us>
	<!-- End Choose Area -->

	<!-- Start Financial Area -->
	<!-- <section class="financial-area owl-carousel owl-theme">
	  <div class="container-fluid p-0">
	    <div class="row m-0">
	      <div class="col-lg-3 col-sm-6 col-md-6 p-0">
	        <div class="financial-image bg-1">
	          <img src="assets/img/financial/1.jpg" alt="image">
	        </div>
	      </div>

	      <div class="col-lg-3 col-sm-6 col-md-6 p-0">
	        <div class="financial-text">
	          <div class="icon">
	            <i class="flaticon-development"></i>
	          </div>

	          <h3>Project Management</h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
	          </p>

	          <a href="#" class="default-btn">Learn More <span></span></a>

	          <div class="shape">
	            <img src="assets/img/shape/2.png" alt="image">
	          </div>
	        </div>
	      </div>

	      <div class="col-lg-3 col-sm-6 col-md-6 p-0">
	        <div class="financial-image bg-2">
	          <img src="assets/img/financial/2.jpg" alt="image">
	        </div>
	      </div>

	      <div class="col-lg-3 col-sm-6 col-md-6 p-0">
	        <div class="financial-text">
	          <div class="icon">
	            <i class="flaticon-interview"></i>
	          </div>

	          <h3>Financial Planning</h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
	          </p>

	          <a href="#" class="default-btn">Learn More <span></span></a>

	          <div class="shape">
	            <img src="assets/img/shape/2.png" alt="image">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section> -->
	<!-- End Financial Area -->

	<!-- Start Partner Area -->
	<!-- <div class="partner-area pt-100">
	  <div class="container">
	    <div class="partner-wrap owl-carousel owl-theme">
	      <div class="single-logo">
	        <a href="#">
	          <img src="assets/img/partner-logo/1.png" alt="Partner">
	        </a>
	      </div>
	      <div class="single-logo">
	        <a href="#">
	          <img src="assets/img/partner-logo/2.png" alt="Partner">
	        </a>
	      </div>
	      <div class="single-logo">
	        <a href="#">
	          <img src="assets/img/partner-logo/3.png" alt="Partner">
	        </a>
	      </div>
	      <div class="single-logo">
	        <a href="#">
	          <img src="assets/img/partner-logo/4.png" alt="Partner">
	        </a>
	      </div>
	      <div class="single-logo">
	        <a href="#">
	          <img src="assets/img/partner-logo/5.png" alt="Partner">
	        </a>
	      </div>
	    </div>
	  </div>
	</div> -->
	<!-- End Partner Area -->

	<!-- Start Team Area -->
	<!-- <app-writers></app-writers> -->
	<!-- End Team Area -->

	<!-- Start Client Area -->
	<app-testimonials></app-testimonials>
	<!-- End Client Area -->

	<!-- Start FAQ Area -->
	<app-faqs></app-faqs>
	<!-- End FAQ Area -->

	<!-- Start Footer-->
	<app-footer></app-footer>
	<!-- End Footer-->
