	<!-- Start Preloader Area -->
	<app-preloader></app-preloader>
	<!-- End Preloader Area -->

	<!-- Start Navbar Area -->
	<app-header></app-header>
	<!-- End Navbar Area -->

	<!-- Start Hero Slider Area -->
	<app-slider></app-slider>
	<!-- End Hero Slider Area -->

	<!-- Start Box Area -->
	<app-start-box></app-start-box>
	<!-- End Box Area -->

	<!-- Start About Us Area -->
	<app-about></app-about>
	<!-- End About Us Area -->

	<!-- Start Process Area -->
	<app-process></app-process>
	<!-- End Process Area -->

	<!-- Start Best Service Area -->
	<app-homepage-services></app-homepage-services>
	<!-- End Best Service Area -->

	<!-- Start Choose Area -->
	<app-choose-us></app-choose-us>
	<!-- End Choose Area -->

	<!-- Start Client Area -->
	<!-- <app-testimonials></app-testimonials> -->
	<!-- End Client Area -->

	<!-- Start FAQ Area -->
	<!-- <app-faqs></app-faqs> -->
	<!-- End FAQ Area -->

	<!-- Start Footer-->
	<app-footer></app-footer>
	<!-- End Footer-->
