<div class="peru-nav">
  <div class="navbar-area fixed-top">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
      <a href="home" class="logo">
        <h3>Eagle Freelance</h3>
        <!-- <img src="assets/img/peru-logos.png" alt="Peru Logo"> -->
      </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav peru-nav-style">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <a class="navbar-brand" href="home">
            <h3>Eagle Freelance</h3>
            <!-- <img src="assets/img/peru-logos.png" alt="peru Logo"> -->
          </a>

          <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="about" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="services" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a href="assignments" class="nav-link">Sample Assignments</a>
              </li>
              <!-- <li class="nav-item">
                <a href="services" class="nav-link">Projects</a>
              </li> -->
              <li class="nav-item">
                <a href="reviews" class="nav-link">Reviews & Ratings</a>
              </li>
              <li class="nav-item">
                <a href="contact" class="nav-link">Contact</a>
              </li>
            </ul>
            <div class="others-option">
              <a href="tel:+800-987-65-43" class="contact-number">
                <i class="fa fa-phone"></i>
                +254 713 396 266
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
