<section class="questions-area two pb-100">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-7 pl-0">
        <div class="questions-bg-area">
          <div class="section-title">
            <span>FAQ</span>
            <h2>Frequently Asked Questions</h2>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-accordion">
                <ul class="accordion">
                  <li class="accordion-item">
                    <a class="accordion-title active" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      How to change partner gray image to color?
                    </a>
                    <p class="accordion-content show">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                  <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      Where do I add my email address in the caldera form?
                    </a>
                    <p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                  <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      Page showing 404 but this page still there?
                    </a>
                    <p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                  <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      How to increase upload_max_filesize?
                    </a>
                    <p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                  <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      How to change partner gray image to color?
                    </a>
                    <p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                  <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      Where do I add my email address in the caldera form?
                    </a>
                    <p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                  <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                      <i class="fa fa-arrow-right"></i>
                      Page showing 404 but this page still there?
                    </a>
                    <p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
                      deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi,
                      minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem
                      ipsum dolor, sit amet consectetur adipisicing elit. Magni nesciunt consectetur sed, tempore,
                      corporis ea maiores libero.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-0">
        <div class="questions">
          <div class="contact-form">
            <form id="contactForm">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Website</label>
                    <input type="text" name="website" id="website" class="form-control">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Message</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="6"></textarea>
                  </div>
                </div>

                <div class="col-lg-12">
                  <button type="submit" class="default-btn">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
