	<!-- <section class="best-services-area ptb-100">
	  <div class="container">
	    <div class="section-title">
	      <span>What We do</span>
	      <h2>Our Best Services</h2>
	    </div>
	    <div class="row">
	      <div class="col-lg-12">
	        <div class="tabs-area">
	          <ul class="nav nav-pills d-sm-flex d-block text-center justify-content-between pt-15" id="pills-tab"
	            role="tablist">
	            <li class="nav-item">
	              <i class="flaticon-steering-wheel"></i>
	              <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"
	                aria-controls="pills-1" aria-selected="true">
	                <i class="flaticon-pie-chart"></i>
	                Best Consulting
	              </a>
	            </li>

	            <li class="nav-item">
	              <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab"
	                aria-controls="pills-2" aria-selected="false">
	                <i class="flaticon-hand"></i>
	                Market Growth
	              </a>
	            </li>

	            <li class="nav-item">
	              <i class="flaticon-tracking"></i>
	              <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab"
	                aria-controls="pills-3" aria-selected="false">
	                <i class="flaticon-strategy"></i>
	                Saving Strategy
	              </a>
	            </li>

	            <li class="nav-item">
	              <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab"
	                aria-controls="pills-4" aria-selected="false">
	                <i class="flaticon-consultant"></i>
	                Consultant
	              </a>
	            </li>

	            <li class="nav-item">
	              <i class="flaticon-van"></i>
	              <a class="nav-link" id="pills-5-tab" data-toggle="pill" href="#pills-5" role="tab"
	                aria-controls="pills-5" aria-selected="false">
	                <i class="flaticon-interview"></i>
	                Best service
	              </a>
	            </li>
	          </ul>
	        </div>

	        <div class="tab-content" id="pills-tabContent">
	          <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
	            <div class="row align-items-center">
	              <div class="col-lg-4">
	                <div class="best-service-img">
	                  <img src="assets/img/best-service/4.jpg" alt="Service">
	                </div>
	              </div>

	              <div class="col-lg-8">
	                <div class="best-service-area">
	                  <h3>Solution For Your Financial help</h3>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
	                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
	                    maecenas accumsan lacus vel facilisis.</p>
	                  <ul>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Investment Service
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Advisory Finance
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      Global SME Finance Facility
	                    </li>
	                  </ul>
	                  <a class="default-btn" href="#">Discover More</a>
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
	            <div class="row align-items-center">
	              <div class="col-lg-8">
	                <div class="best-service-area">
	                  <h3>Solution For Your Financial help</h3>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
	                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
	                    maecenas accumsan lacus vel facilisis.</p>
	                  <ul>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Investment Service
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Advisory Finance
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      Global SME Finance Facility
	                    </li>
	                  </ul>
	                  <a class="default-btn" href="#">Discover More</a>
	                </div>
	              </div>
	              <div class="col-lg-4">
	                <div class="best-service-img">
	                  <img src="assets/img/best-service/3.jpg" alt="Service">
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
	            <div class="row align-items-center">
	              <div class="col-lg-4">
	                <div class="best-service-img">
	                  <img src="assets/img/best-service/1.jpg" alt="Service">
	                </div>
	              </div>

	              <div class="col-lg-8">
	                <div class="best-service-area">
	                  <h3>Solution For Your Financial help</h3>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
	                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
	                    maecenas accumsan lacus vel facilisis.</p>
	                  <ul>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Investment Service
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Advisory Finance
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      Global SME Finance Facility
	                    </li>
	                  </ul>
	                  <a class="default-btn" href="#">Discover More</a>
	                </div>
	              </div>
	            </div>
	          </div>

	          <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
	            <div class="row align-items-center">
	              <div class="col-lg-8">
	                <div class="best-service-area">
	                  <h3>Solution For Your Financial help</h3>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
	                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
	                    maecenas accumsan lacus vel facilisis.</p>
	                  <ul>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Investment Service
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Advisory Finance
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      Global SME Finance Facility
	                    </li>
	                  </ul>
	                  <a class="default-btn" href="#">Discover More</a>
	                </div>
	              </div>
	              <div class="col-lg-4">
	                <div class="best-service-img">
	                  <img src="assets/img/best-service/2.jpg" alt="Service">
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
	            <div class="row align-items-center">
	              <div class="col-lg-4">
	                <div class="best-service-img">
	                  <img src="assets/img/best-service/1.jpg" alt="Service">
	                </div>
	              </div>
	              <div class="col-lg-8">
	                <div class="best-service-area">
	                  <h3>Solution For Your Financial help</h3>
	                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
	                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
	                    maecenas accumsan lacus vel facilisis.</p>
	                  <ul>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Investment Service
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      SME Finance Advisory Finance
	                    </li>
	                    <li>
	                      <i class="flaticon-check-mark"></i>
	                      Global SME Finance Facility
	                    </li>
	                  </ul>
	                  <a class="default-btn" href="#">Discover More</a>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

	  </div>
  </section> -->

	<!-- Start Services Area -->
	<section class="services-area pb-100">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-6">
	        <div class="services-title">
	          <span>Our Services</span>
	          <h2>Overview Of our Services</h2>
	        </div>
	      </div>
	      <div class="col-lg-6">
	        <div class="services-title">
	          <p>Get an overview of the kind of services we offer at Eagle Freelance.
	            We make sure our clients get the best services ever. Contact us today
	            and discuss with us your assignment or project.
	          </p>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="service-wrap owl-carousel owl-theme">
	        <div class="single-services">
	          <img src="assets/img/services/1.jpg" alt="">
	          <div class="service-text">
	            <h3>
	              <a href="#">Academic Writing<i class="flaticon-strategy"></i></a>
	            </h3>
	          </div>
	        </div>
	        <div class="single-services">
	          <img src="assets/img/services/3.jpg" alt="">
	          <div class="service-text">
	            <h3>
	              <a href="#">Academic Research <i class="flaticon-strategy"></i></a>
	            </h3>
	          </div>
	        </div>
	        <div class="single-services">
	          <img src="assets/img/services/3.jpg" alt="">
	          <div class="service-text">
	            <h3>
	              <a href="#">Software Development<i class="flaticon-strategy"></i></a>
	            </h3>
	          </div>
	        </div>
	        <div class="single-services">
	          <img src="assets/img/services/2.jpg" alt="">
	          <div class="service-text">
	            <h3>
	              <a href="#">Website Development<i class="flaticon-strategy"></i></a>
	            </h3>
	          </div>
	        </div>
	      </div>
	      <a class="default-btn" href="services">Read More</a>
	    </div>
	  </div>
	</section>
	<!-- End Services Area -->
