	<!-- Start Preloader Area -->
	<app-preloader></app-preloader>
	<!-- End Preloader Area -->

	<!-- Start Navbar Area -->
	<app-header></app-header>
	<!-- End Navbar Area -->

	<!-- Start Page Title Area -->
	<app-page-title></app-page-title>
	<!-- End page Title Area -->

	<!-- Start About Us Area -->
	<app-about></app-about>
	<!-- End About Us Area -->

	<!-- Start Team Area -->
	<app-writers></app-writers>
	<!-- End Team Area -->

	<!-- Start Footer-->
	<app-footer></app-footer>
	<!-- End Footer-->
