	<!-- Start Processing Area -->
	<section class="processing-areac ptb-100">
	  <div class="container">
	    <div class="section-title">
	      <span>Our Steps</span>
	      <h2>Our Steps Are Simple as 123...</h2>
	    </div>
	    <div class="row">
	      <div class="col-lg-3 col-sm-6 icon-color">
	        <div class="single-processing">
	          <span>1</span>
	          <div class="processing-icon">
	            <i class="flaticon-interview"></i>
	          </div>
	          <h3>Engage Us</h3>
	          <p>Let's know detailed information about your assignment/project</p>
	        </div>
	      </div>
	      <div class="col-lg-3 col-sm-6 icon-color">
	        <div class="single-processing">
	          <span>2</span>
	          <div class="processing-icon">
	            <i class="flaticon-target"></i>
	          </div>
	          <h3>Place Order</h3>
	          <p>Place your order and let's work on your assignment/project</p>
	        </div>
	      </div>
	      <div class="col-lg-3 col-sm-6 icon-color">
	        <div class="single-processing">
	          <span>3</span>
	          <div class="processing-icon">
	            <i class="flaticon-target"></i>
	          </div>
	          <h3>Make Down Payment</h3>
	          <p>Commit yourself by making an initial payment</p>
	        </div>
	      </div>
	      <div class="col-lg-3 col-sm-6 icon-color">
	        <div class="single-processing">
	          <span>4</span>
	          <div class="processing-icon">
	            <i class="flaticon-money"></i>
	          </div>
	          <h3>Complete Payment</h3>
	          <p>Everything looks good? Now pay the remaining amount</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- End Processing Area -->
