  	<!-- Start Preloader Area -->
  	<app-preloader></app-preloader>
  	<!-- End Preloader Area -->

  	<!-- Start Navbar Area -->
  	<app-header></app-header>
  	<!-- End Navbar Area -->

  	<!-- Start Page Title Area -->
  	<div class="page-title-area item-bg-1">
  	  <div class="container">
  	    <div class="page-title-content">
  	      <h2>Services</h2>
  	      <ul>
  	        <li>
  	          <a href="home">
  	            Home
  	            <i class="fa fa-chevron-right"></i>
  	          </a>
  	        </li>
  	        <li>Our Services</li>
  	      </ul>
  	    </div>
  	  </div>
  	</div>
  	<!-- End Page Title Area -->

  	<!-- Start Box Area -->
  	<app-academic-services></app-academic-services>
  	<!-- End Box Area -->

  	<!-- Start Box Area -->
  	<app-software-services></app-software-services>
  	<!-- End Box Area -->

  	<!-- Start Footer-->
  	<app-footer></app-footer>
  	<!-- End Footer-->
